
nav{

    display: flex;
    justify-content: space-between;
    color: turquoise;
    font-size: large;
    padding: 10px;
    

}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
}
main{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: column;
    gap: 20px;  
    width: 600px;
    margin: auto;
    

    
}



form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
input{
    padding: 5px;
    border-radius: 5px;
  

}
.bug-title{
    text-align: center;
    color: white;
    background-color: grey;
    height: 100%;
}
.license{
    display: flex;
    gap: 10px;
}

#send{
    width: 100px;
    height: 30px;
    background-color: turquoise;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    margin-left: auto;
}
.dropdown{
    background-color: turquoise;
    padding: 5px;
    border-radius: 5px;
}
